@use "@/styles/globals.scss" as *;
.articleContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  position: relative;
  max-width: 1280px; 
  margin: 0 auto;

  @include tablet {
    flex-direction: column;
    gap: 20px;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2; 

    @include tablet {
      // width: 65%;
    }
    .featuredContainer {
      @extend .cardContainer;
      display: grid !important;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      .featuredBlog {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
      }
      @include mobile {
        display: flex !important;
        flex-direction: column;
      }
    }
    .mostRecentContainer {
      @extend .cardContainer;

      .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
          
        }
      }
    }
  }
  .rightContainer {
    position: sticky;
    display: flex;
    flex: 1;
    flex-direction: column; 
    top: 2rem;
    align-items: flex-start;
    max-height: calc(100svh - 2rem); // ensures a fit in the viewport
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS

    // @include mobile {
    //   width: 100%;
    //   position: relative;
    //   height: auto;
    // }

    @include tablet {
      position: relative;
      height: auto;
      width: auto;
      gap: 10px;
    }
  }
}
.articlesContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.emphasis {
  font-weight: 600;
  color: var(--secondary);
}
