@use "@/styles/globals.scss" as *;
.articleContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  position: relative;
  max-width: 1280px; 
  margin: 0 auto 5%;

  @include tablet {
    flex-direction: column;
    gap: 20px;
  }
  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2; 

    @include tablet {
      // width: 65%;
    }
 
    .titleContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;

      button{
        width: auto;
        flex-wrap: nowrap;
        min-width: 300px;
      }
    }
  }
}
.articlesContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.emphasis {
  font-weight: 600;
  color: var(--secondary);
}
.featuredContainer {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  @include mobile {
    display: flex !important;
    flex-direction: column;
  }
}