@use "@/styles/globals.scss" as *;

.footer {
  padding: 2rem 1rem; 
  color: var(--quaternary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .icon {
    font-size: 1.5rem;
    color: var(--quaternary);
    transition: transform 0.3s ease;

    &:hover {
      color: var(--tertiary-light);
    }
  }
}

.bottomText {
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--quaternary);
}

@include tablet {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
    text-align: left;
  }

  .bottomText {
    text-align: right;
  }
}
