@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  position: relative; 
  overflow-y: scroll;
}
.socialCard {
  @extend .cardContainer;
  background-image: url("/images/map.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  gap: 1.5rem;

  .linksContainer {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-top: 5%;
  }
  .logoContainer {
    flex-shrink: 0;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }
}
.newsLetterCard {
  @extend .cardContainer;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  h1 {
  }

  span {
    display: block;
    margin-bottom: 1rem;
    color: var(--quaternary);
  }

  .actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subscribeButton {
    background-color: var(--success);
    color: white;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--success-dark);
    }
  }
}

.blogsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
